@import '@fortawesome/fontawesome-free/css/all.min.css';
body{
 
}
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
div{
  max-width: 800px;
  margin: 5px auto;
  background-color: #fff;
  padding: 5px;
}
.text-title{
  font-size: 3rem;
  margin-top: 2rem;
  text-align: center;
   color: #3d0e39;
    font-weight: 800;
}
.uil {
  margin-left: 0.75rem;
  font-size: 1.25rem;
  color: #ff6f3c;
}
